extends layout

block content 
  .col-md-8
    form.mt-5.ml-2.p-5(action="/answer", method="post")
      .form-group.row
        input#document_id(type="hidden", name="document_id", value=id)
      .form-group.row
        label.col-sm-2.col-form-label(for='question') 
          b Question
        .col-sm-10
          textarea#question.form-control(rows="3", name="question", disabled)= questions
      .form-group.row
        label.col-sm-2.col-form-label(for='answer') 
          b Answer
        .col-sm-10
          textarea#answer.form-control(rows="6", name="answer")     
      .form-group.row
        .col-sm-12
          button.btn.btn-primary.float-right.mt-1(type='submit') Submit
  .col-md-4.mt-5    
    img.mt-5(src="/img/question-and-answer.jpg", width="90%")
