extends layout

block content 
  .col-md-8
    iframe.float-right.ml-3.mt-5(allow='microphone;', width="95%", height="500", src='https://console.dialogflow.com/api-client/demo/embedded/fbca1739-171d-4834-b282-809b0a7aca6f')
  .col-md-4.mt-5    
    img.mt-5(src="/img/Yoda2.jpg", width="90%")