nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='/trivia', style="font-family: 'Alfa Slab One', cursive;font-size: 1.1rem;") GPP Trivia
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/trivia')
          | Trivia 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/about') About 
        
